* {
  // outline: 1px solid blue;
}

// fixes weird click-hold bug
html, body {
  // display: flex;
}

body {
  height: 300px;
  padding: 25px;
}
button {
  margin: 10px;
}

#root {
  height: 100%;
}
.slider {
  width: 200px;
  margin: 10px 0px 10px 0px;
}
.slider-value {
  text-align: center;
}
.rangeslider__labels {
  z-index: -1
}

h1 {
  font-size: 30px;
}
