* {
  // outline: 1px solid blue;
  box-sizing: border-box !important;
}

body {
  height: 300px;
  padding: 10px 10px 10px 10px;
}
button {
  margin: 10px;
  width: 80px;
}
#root {
  height: 100%;
}
.slider {
  padding-top: 15px;
  display: flex;
  margin: 0px 0px 10px 0px;
}
.rangeslider {
  margin: 0px;
  display: inline-block;
  width: 200px;
  height: 12px;
}
.slider-value {
  align-items: center;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}
.slider-name {
  margin-right: 10px;
  width: 70px;
}
// fixes weird click-hold bug
.rangeslider__labels {  
  z-index: -1
}
h1 {
  font-size: 30px;
}
